<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.annotation.transitionanimationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".animation_style.NormalTransitionActivity" />
        <activity
            android:name=".animation_style.StyleActivityAnimationActivity"
            android:theme="@style/ActivityAnimationTheme" />
        <activity
            android:name=".animation_style.StyleWindowAnimationActivity"
            android:theme="@style/WindowAnimationTheme" />
        <activity
            android:name=".animation_style.StyleDoubleAnimationActivity"
            android:theme="@style/DoubleAnimationTheme" />

        <activity android:name=".content_transition.ContentTransitionActivity" />
        <activity android:name=".content_transition.ContentTransitionActivity2" />

        <activity android:name=".share_element.image.ShareElementImageActivity" />
        <activity android:name=".share_element.image.ShareElementImageDetailActivity" />

        <activity android:name=".share_element.view.ShareElementViewActivity" />
        <activity android:name=".share_element.view.ShareElementViewDetailActivity" />

        <activity android:name=".share_element.list.ShareElementListActivity" />
        <activity android:name=".share_element.list.ShareListDetailActivity" />

        <activity android:name=".system_inner.SystemInnerActivity" />

        <activity android:name=".compat.CompatTransitionActivity" />
        <activity android:name=".compat.CompatDetailActivity" />
    </application>

</manifest>